1971.csv filter=lfs diff=lfs merge=lfs -text
1972.csv filter=lfs diff=lfs merge=lfs -text
1973.csv filter=lfs diff=lfs merge=lfs -text
1974.csv filter=lfs diff=lfs merge=lfs -text
1975.csv filter=lfs diff=lfs merge=lfs -text
1976-1979.csv filter=lfs diff=lfs merge=lfs -text
1980-1981.csv filter=lfs diff=lfs merge=lfs -text
template.csv filter=lfs diff=lfs merge=lfs -text
