{% load active_link_tags %}

<div class="navbar navbar-dark text-bg-dark border-bottom" id="mainNavbar">
  <div id="mainNavbarContent">
    <a class="navbar-brand" href="/"><span class="d-none d-sm-inline">Caving </span>Incident Database</a>

    <div x-data="{ open: false }">
      <a id="hamburgerMenuIcon" href="#" role="button" @click="open = !open"
        @resize.window="width = (window.innerWidth > 0) ? window.innerWidth : screen.width; if (width > 1000) { open = false }"
        x-effect="document.getElementById('blurContainer').classList.toggle('blur-bg', open)">
        <i class="bi bi-list"></i>
      </a>

      <div class="hamburger-menu-container" x-show="open"
           @click.outside="open = false" x-cloak x-transition.scale.20.origin.top.right
           x-trap.noscroll="open">
        <nav class="hamburger-menu">
          {% include "_nav_links.html" %}
        </nav>
      </div>
    </div>
  </div>
</div>
