{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block description %}A list of caving incident reports.{% endblock %}

{% block content %}
  <h1 class="page-header mb-2">
    Incident list
  </h1>

  <p class="text-body-secondary small">
    {% if filter_type %}
      Found {{ incidents|length }} incident{{ incidents|pluralize }} matching the {{ filter_type }}
      '{{ filter }}'.
    {% else %}
      Found {{ incidents|length }} incident{{ incidents|pluralize }}.
    {% endif %}
  </p>

  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Cave</th>
          <th class="d-none d-lg-table-cell">State</th>
          <th class="d-none d-xl-table-cell">Country</th>
          <th class="d-none d-lg-table-cell">Category</th>
          <th class="d-none d-lg-table-cell">Flags</th>
          <th class="d-none d-sm-table-cell"></th>
        </tr>
      </thead>

      <tbody>
        {% for incident in incidents %}
        <tr class="align-middle" data-href="{{ incident.get_absolute_url }}" style="white-space: nowrap;">
          <td>
            <span class="d-none d-sm-inline">{{ incident.date }}</span>
            <span class="d-sm-none">{{ incident.date|date:"Y-m-d" }}</span>
          </td>
          <td><a href="{{ incident.get_absolute_url }}">{{ incident.cave }}</a></td>
          <td class="d-none d-lg-table-cell">{{ incident.get_state_display }}</td>
          <td class="d-none d-xl-table-cell">{{ incident.get_country_display }}</td>
          <td class="d-none d-lg-table-cell">{{ incident.get_category_display }}</td>
          <td class="d-none d-lg-table-cell">{% include "includes/incident_flags.html" %}</td>
          <td class="text-end d-none d-sm-table-cell">
            <a href="{{ incident.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">
              View
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="table-legend">
      {{ incidents|length }} incident{{ incidents|pluralize }}
    </div>
  </div>
{% endblock content %}
