{% extends "base.html" %}

{% block main_content_class %}smaller-container{% endblock %}

{% block content %}
  <h1 class="page-header">Caving Incident Database</h1>
  <p class="lead mb-3">A project of the <a href="https://caves.org/" class="text-decoration-none">National Speleological Society</a>.</p>

  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>Year</th>
          <th>Incidents</th>
          <th class="d-none d-sm-table-cell">Approved</th>
          <th class="d-none d-lg-table-cell">Pending</th>
          <th class="d-none d-xl-table-cell">Review</th>
          <th class="d-none d-md-table-cell">Completion</th>
        </tr>
      </thead>

      <tbody>
        {% for year in incidents_by_year %}
          <tr class="align-middle" data-href="{% url 'db:incident_list' status=year %}">
            <td><a href="{% url 'db:incident_list' status=year.year %}">{{ year }}</a></td>
            <td>{{ year.incidents }}</td>
            <td class="d-none d-sm-table-cell">{{ year.approved }}</td>
            <td class="d-none d-lg-table-cell">{{ year.pending }}</td>
            <td class="d-none d-xl-table-cell">{{ year.review }}</td>
            <td class="d-none d-md-table-cell">{{ year.completion_rate|floatformat:0 }}%</td>
          </tr>
        {% endfor %}
        <tr class="align-middle" data-href="{% url 'db:incident_list' status='all' %}">
          <td><a href="{% url 'db:incident_list' status='all' %}">Total</a></td>
          <td>{{ incidentmanager.all|length }}</td>
          <td class="d-none d-sm-table-cell">{{ incidentmanager.approved|length }}</td>
          <td class="d-none d-lg-table-cell">{{ incidentmanager.pending|length }}</td>
          <td class="d-none d-xl-table-cell">{{ incidentmanager.need_review|length }}</td>
          <td class="d-none d-md-table-cell">{{ all_incidents_completion|floatformat:0 }}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="small">
    <h3 class="section mt-2">Legend</h3>
    <ul class="text-muted">
      <li><strong>Incidents</strong> &mdash; total number of incidents recorded.</li>
      <li><strong>Approved</strong> &mdash; number of incidents that have been edited and approved as correct.</li>
      <li><strong>Pending</strong> &mdash; number of incidents that require data to be added.</li>
      <li><strong>Review</strong> &mdash; number of incidents that have editing notes, indicating they require review or there is a problem with the data.</li>
      <li><strong>Completion</strong> &mdash; percentage of incidents that have been marked as approved.</li>
    </ul>
  </div>

  {% if user.is_authenticated and user.is_editor %}
    <h3 class="section">Support</h3>
    <p>
      Thank you for helping with this project! If you have any questions, please contact Pete Johnson
      (for issues relating to the project) or Andrew Northall (for issues relating to this website in particular)
      &mdash; <code>pete@caves.org</code> or <code>andrew@caver.dev</code>.
    </p>
  {% endif %}
{% endblock %}
